version: 1.1.{build}
environment:
  nodejs_version: "6"
  access_token:
    secure: sbBna4fwB5pwz2FWSkskL1UJZLvZmSQ5/tItIVC3ESN+gefKxwXIhj0IHXUATpmo

branches:
    only:
      - master

skip_tags: true

install:
  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version
  # install modules
  - npm install

build_script:
  - node node_modules/typescript/bin/tsc

  - echo Patching version %appveyor_build_version%
  - node ./bin/patch-version

test_script:
  # run tests
  - node node_modules/mocha/bin/_mocha tests/ --no-exit

after_test:
  - FOR /f %%n IN ('dir .\node_modules /d /b /a:d ^| findstr /R /C:"^[A-Za-z].*$"') DO npm uninstall %%n

artifacts:
- path: '\'
  name: tfso.tools.appveyor

deploy_script:
  # git tagging source for github releases in addition to artifact to make npm usage useful
  - git config --global credential.helper store
  - ps: Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:access_token):x-oauth-basic@github.com`n"  
  - git config --global user.email "post@24sevenoffice.com"
  - git config --global user.name "24SevenOffice"
  - git rm .gitignore
  - git add -f --all
  - git commit -a -m "Adding release files"
  - git tag -a %appveyor_build_version% -m "%APPVEYOR_REPO_COMMIT_MESSAGE% %APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED%"
  - git push origin %appveyor_build_version%
