# Test against this version of Node.js
version: 1.1.{build}
environment:
  nodejs_version: "6"

branches:
    only:
      - master

skip_tags: true

install:
  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version
  # install modules
  - npm install

build_script:
  - node node_modules/typescript/bin/tsc

  - echo Patching version %appveyor_build_version%
  - node ./bin/patch-version
  
# Post-install test scripts.
before_test:
  # install modules needed for testing
  - npm install -g mocha-appveyor-reporter
  - npm install -g mocha

test_script:
  # run tests
  - mocha --reporter mocha-appveyor-reporter tests/ --no-exit

after_test:
  - FOR /f %%n IN ('dir .\node_modules /d /b /a:d ^| findstr /R /C:"^[A-Za-z].*$"') DO npm uninstall %%n

artifacts:
- path: '\'
  name: tfso.tools.appveyor

deploy_script:
  # git tagging source for github releases in addition to artifact to make npm usage useful
  - git config --global user.email "post@24sevenoffice.com"
  - git config --global user.name "24SevenOffice"
  - git add -f --all
  - git commit -a -m "Adding release files"
  - git tag -a %appveyor_build_version% -m "%APPVEYOR_REPO_COMMIT_MESSAGE% %APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED%"
  - git push origin %appveyor_build_version%