image: Ubuntu1804
stack: node 12

version: 1.1.{build}
environment:
  access_token:
    secure: sbBna4fwB5pwz2FWSkskL1UJZLvZmSQ5/tItIVC3ESN+gefKxwXIhj0IHXUATpmo

branches:
    only:
      - master

skip_tags: true

install:
  - npm install

build_script:
  - node node_modules/typescript/bin/tsc

  - echo Patching version $APPVEYOR_BUILD_VERSION
  - node ./bin/patch-version

test_script:
  # run tests
  - node node_modules/mocha/bin/_mocha tests/ --no-exit

after_test:
  - npm prune --production

artifacts:
- path: '\'
  name: tfso.tools.appveyor

deploy_script:
  # git tagging source for github releases in addition to artifact to make npm usage useful
  - git config --global credential.helper "store --file ~/.git-credentials"
  - ps: Add-Content Join-Path $HOME ".git-credentials" "https://$env:access_token:x-oauth-basic@github.com"
  - ps: cat Join-Path $HOME ".git-credentials"
  - git config --global user.email "post@24sevenoffice.com"
  - git config --global user.name "24SevenOffice"
  - git rm .gitignore
  - git add -f --all
  - git commit -a -m "Adding release files"
  - git tag -a $APPVEYOR_BUILD_VERSION -m "$APPVEYOR_REPO_COMMIT_MESSAGE $APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED"
  - git push origin $APPVEYOR_BUILD_VERSION
